html {
    scroll-behavior: smooth;   /* so that once the hyperlinked content is clicked, it will scroll down smoothly */
}

body {
    /* background-image: url(../Images/homePageImages/bgimage2.jpg); */
    background-image: url("../Images/homePageImages/background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body::before {
    content: "";
    position: fixed;
    background: rgba(255,255,255,0.6); 
    z-index: -1;
    width: 100%;
    height: 100%;
}


.div1 {
    background-color: rgb(97, 138, 97);
    display: flex;
    width: 100% ;
    height: 65px;
    position: fixed;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 30px;
    padding-left: 30px;
    font-weight: bold;
}

.nav-list {
    display: flex;
    gap: 25px;
    padding-right: 30px;
    list-style-type: none;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#feedbackheading {
    margin-left: 20px;
}

.feedback {
    margin-left: 50px;
    width: 90%;
    font-size: 20px;
}

#feedbackform .row {
    display: flex;
    gap: 20px; 
    margin-bottom: 20px;
    padding: 8px;
}

#feedbackform .row .form-group {
    flex: 1;     /* for each to have an equal width*/
}

#feedbackform textarea {
    width: 70%;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

#submitbtn {
    font-size: 16px;
    padding: 15px;
}

.confirmation {
    margin-top:10px; 
    color: green;
}

.mapsection {
    margin-top: 40px;
    text-align: center;
}

.mapsection h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.mabox {
    display: flex;
    justify-content: center; 
}

.mapbox iframe {
    width: 600px;
    height: 400px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

#faqheading {
    margin-left: 100px;
    font-size: 30px;
}

.faqanswer {
    display: none; /*this will hide answers by default */
    padding: 10px;
    border-left: 3px solid #4CAF50;
    margin-bottom: 10px;
    background: #f9f9f9;
    margin-left: 30px;
}

.faqquestion {
    background: #f0f0f0;
    padding: 10px;
    border: none;
    width: 30%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 30px;
}

.faqpara {
    margin-left: 100px;
    font-size: 15px;
}

.footer {
    background-color: rgb(230, 229, 227);
    text-align: center;
}

.div-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    margin-bottom: 20px;
}

.newsletter h3, .links h3 {
    font-size: 18px;
    color: black;
    text-align: center;
}

.newsletter form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.links a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.copyright {
    color: #aaa;
    font-size: 14px;
}


